<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Offside&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      @keyframes animateSide{
        0%{
          margin-left: -260px;
        }
        100%{
          margin-left: 0px;
        }
      }
      @keyframes animateSideBack{
        0%{
          margin-left: 0;
        }
        100%{
          margin-left: -260px;
        }
      }
      #animate-nav{
        animation: animateSide .5s forwards;
      }
      #animate-nav-def{
        animation: none;
      }
      #unanimate-nav{
        animation: animateSideBack .5s forwards;
      }
      ::-webkit-scrollbar{
      width: 10px;
    }
    ::-webkit-scrollbar-thumb{
      border: 0px solid;
      background-color: #d1d1d1;
    }
      button:hover {
        background-color: #cf0c0c;
        margin-top: 50px;
        height: 43px;
        transition: all .25s;
        outline: none;
      }
      button {
        background-color: #e60f0f;
        margin-top: 50px;
        height: 40px;
        transition: all .25s;
        outline: none;
      }
    </style>
  </head>
  <body style="background-color: #e60f0f; background-size: 100vw 100vh; margin: 0px; padding-bottom: 20px; x-overflow: hidden">
    <center>
    <div style="width: 90%; height: 55px; background-color: #e60f0f; position: relative; ">
      <img src="hamburger.png" style="width: 40px; position: absolute; left: 0px; top: 10px;" onclick="animateNav('true')">
      <img src="profile.png" onclick="profile()" style="width: 30px; position: absolute; right: 3px; top: 13px;">
      <p style="font-family: Montserrat; color: white; font-weight: 700; letter-spacing: 3px; padding-top: 20px;">Boarding Pass</p>
    </div>
    <h style="font-family: Montserrat; font-size: 25px; color: white; font-weight: 400;">Flight Information</h>
 <!--Boarding Pass-->
<div id="printout" style="position: absolute; top: 0px; left: 0px; height: 100%; background-color: white; width: 100%;display: none; z-index: 1001; text-align: left;  ">
    <div id="print-iframe" style="text-align: left; height: 100%; width: 100%; padding-top: 75px; padding-left: 2px; background-color: white;">
        <img src="scissors.png" style="float: left; margin-left: 20px; width: 13px;"> </img>
        <div id="containerPass" style="margin-left: 40px; border: 1px dashed black; background-color: #f3f3f3; width: 500px; height: auto">
          <img src="https://flyaceairline.weebly.com/uploads/1/2/4/2/124276951/ace-boarding-pass_orig.png" style="margin: 0px; width: 100%;" ></img>
    </div>
    <center>
        <div id="Acecontent" style="z-index: 1000; display: flex; text-align: left; position: absolute; left: 42px; top: 75px; background-color: transparent;">
        <div style="margin-left: 122px; margin-top: 15px;">
        <p style="font-family: montserrat; display: inline-block; font-size: 14px; color: #e60f0f;">HSV &nbsp&nbsp ATL</p>
        <p style="font-family: montserrat; margin-left: 83px; font-size: 11px; display: inline-block; color: black;">Ben Lambertson</p>
        <div style="margin-left: -103px;">
        <p style="font-family: montserrat; font-size: 12px; display: inline-block; color: black;">Ben Lambertson</p>
        <p style="font-family: montserrat; font-size: 12px; display: inline-block; position: absolute; left: 133px; color: black;">January 5, 2021</p>
        </div>
        <div style="margin-left: 10px; margin-top: -5px;">
        <p style="font-family: montserrat; font-size: 15px; display: inline-block; color: black;">Huntsville</p>
        <p style="font-family: montserrat; position: absolute; left: 260px; font-size: 15px; display: inline-block; color: #e60f0f;">1:45</p>
        </div>
        <div>
        <p style="font-family: montserrat; font-size: 18px; margin-left: 140px; margin-top: 15px; display: inline-block; color: black;">HSV</p>
        </div>
        <div style="position: absolute; left: 405px; top: 60px; width: 100px;">
          <p style="font-family: montserrat; font-size: 11px; display: inline-block; color: black;">Ben Lambertson</p>
          <p style="font-family: montserrat; font-size: 11px; margin-top: 10px; color: black;">HSV</p>
          <p style="font-family: montserrat; font-size: 11px; margin-top: 18px; color: black;">ATL</p>
        </div>
        </div>
    </div>
    </div>
    </center>

    <!--Verify-->
    
        <div id="info" style="display: block; position: absolute; top: 55px; left: 0px; background-color: white; width: 100%; height: calc(100vh - 55px);">
          
    <center style="margin-top: 20px">
      <b style="color: #e60f0f; font-size: 25px; font-family: montserrat;" >Flight Information</b>
      <i style="display: block; color: #adadad; font-size: 50px; font-family: montserrat;" >HSV-ATL</i>

<div style="margin-top: 30px; ">
      <div style="width: 49.5%; display: table-cell;">
      <b style="color: #e60f0f; font-size: 25px; font-family: montserrat;" >Time</b>
      <i style="display: block; color: #adadad; font-size: 25px; font-family: montserrat;" >1:45 PM</i>
      </div>

      <div style="display: table-cell; height: 20%; background-color: #adadad;">
        </div>

      <div style="width: 49.5%; display: table-cell;">
      <b style="color: #e60f0f; font-size: 25px; font-family: montserrat;" >Date</b>
      <i style="display: block; color: #adadad; font-size: 25px; font-family: montserrat;" >{{date}}</i>
      </div>
</div>

      <button id="print" onclick="printer()" style="font-family: montserrat; font-size: 14px; border: none; border-radius: 5px; color: white;">Print Boarding Pass</button>
    </center>
      </div>
    </center>
      <!--navigation-->
      <div id="unanimate-nav-def" style="width: 250px; background-color: #d6d6d6; height: 100vh; position: absolute; top: 0px; left: 0px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); margin-left: -260px  ;">
          <img src="backArrowNav.png" style="position: absolute; top: 30px; right: 30px; width: 10px;" onclick="unanimateNav()">
          <img src="acelogo.png" style="width: 120px; margin: 20px;">
          <h1 style="font-size: 170%; color: #e60f0f; margin: 0px; margin-left: 20px; font-family: Montserrat; margin-right: 10px;">Navigation</h1>
          <button style="text-align: left; color: #e60f0f; width: 150px; height: 30px; background-color: transparent; border: none; margin: 0px; margin-top: 25px; margin-left: 20px; border-radius: 4px; font-family: Montserrat;" onclick="window.location='/home'">HOME</button>
          <button style="text-align: left; color: #e60f0f; width: 150px; height: 30px; background-color: transparent; border: none; margin: 0px; margin-top: 10px; margin-left: 20px; border-radius: 4px; font-family: Montserrat;" onclick="window.location = '/news'">NEWS</button>
          <button style="text-align: left; color: #e60f0f; width: 150px; height: 30px; background-color: transparent; border: none; margin: 0px; margin-top: 10px; margin-left: 20px; border-radius: 4px; font-family: Montserrat;" onclick="window.location='/book-a-flight'">BOOK NOW</button>
          <button style="text-align: left; color: #e60f0f; width: 150px; height: 30px; background-color: transparent; border: none; margin: 0px; margin-top: 10px; margin-left: 20px; border-radius: 4px; font-family: Montserrat;" onclick="window.location='/my-flights'">MY FLIGHTS</button>
          <button style="text-align: left; color: #e60f0f; width: 150px; height: 30px; background-color: transparent; border: none; margin: 0px; margin-top: 10px; margin-left: 20px; border-radius: 4px; font-family: Montserrat;" onclick="window.location = 'https://flyaceairline.weebly.com/'">WEBSITE</button>
          <button style="text-align: left; color: #e60f0f; width: 150px; height: 30px; background-color: transparent; border: none; margin: 0px; margin-top: 10px; margin-left: 20px; border-radius: 4px; font-family: Montserrat;" onclick="window.location='/resource'">RESOURCE</button>
          <button style="text-align: left; color: #e60f0f; width: 150px; height: 30px; background-color: transparent; border: none; margin: 0px; margin-top: 10px; margin-left: 20px; border-radius: 4px; font-family: Montserrat;" onclick="window.location='/help'">HELP</button><!--
          --><button style="position: absolute; margin-left: 18px; bottom: 40px; text-align: left; left: 0px; color: #e60f0f; width: 150px; height: 30px; background-color: transparent; border: none; border-radius: 4px; font-family: Montserrat;" onclick="window.location='/'">Log Out</button>
          <i style="position: absolute; color: #e60f0f; bottom: 20px; left: 20px; font-family: Montserrat; font-size: 12px;">Copyright Ace Airlines™ 2021</i>
      </div>
    </div>
    <!--Profile-->
    <div id="profileDiv" style="display: none; width: 100vw; height: 100vh; background-color: rgba(255, 255, 255, 0.9); position: fixed; top: 0px; left: 0px; z-index: 1000;">
      <div style="width: 300px; height: 270px; background-color: white; position: absolute; top: 20px; right: 50%; margin-right: -150px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); border-radius: 5px; top: 50%; margin-top: -115px;">
        <p style="position: absolute; font-family: Montserrat; top: 3px; right: 15px; color: black; margin: 0px; font-size: 35px;" onclick="document.getElementById('profileDiv').style.display = 'none'">&times;</p>
        <img src="acelogo.png" style="width: 60px; padding: 10px; margin-left: 10px;">
        <p style="font-family: Montserrat; font-weight: 600; color: #e60f0f; position: absolute; top: 0px; left: 100px;">Your Profile</p>
        <p style="font-family: Montserrat; font-weight: 600; color: black; position: absolute; top: 55px; left: 20px; font-size: 14px; width: 255px; text-align: center;">You can access you flights by clicking the button below.</p>
        <button type="button" style="width: 255px; height: 35px; border-radius: 12px; background-color: #e60f0f; border: none; position: absolute; left: 20px; top: 90px; box-shadow: 0 0 20px rgba(230, 15, 15, 0.4); color: white; font-family: Montserrat;" onclick="window.location='/my-flights'">MY FLIGHTS</button>
        <button type="button" style="width: 255px; height: 35px; border-radius: 12px; background-color: #e60f0f; border: none; position: absolute; left: 20px; top: 140px; box-shadow: 0 0 20px rgba(230, 15, 15, 0.4); color: white; font-family: Montserrat;" onclick="window.location='/'">LOG OUT</button>
      </div>
    </div>
  </body>
<script src="/socket.io/socket.io.js"></script>
<script src="script.js"></script>
  <script>
    function printer() {
      document.getElementById('print').style.display = 'none'; 
      document.getElementById('info').style.display = 'none'; 
      document.getElementById('printout').style.display = 'block'; 
      window.print();
      document.getElementById('printout').style.display = 'none'; 
        document.getElementById('print').style.display = 'block'; 
      document.getElementById('info').style.display = 'block'; 
    }
    var time = 0;
    const animateNav = () => {
      time++
      if (time == 1){
        document.getElementById("unanimate-nav-def").id = "animate-nav";
      } else {
        document.getElementById("unanimate-nav").id = "animate-nav";
      }
    }

    const unanimateNav = () => {
      document.getElementById("animate-nav").id = "unanimate-nav";
    }
    function profile() {
      document.getElementById("profileDiv").style.display = "block"
    }
  </script>
</html>